#insid{
    text-align: right;
    display:flex;
    justify-self: space-around;
    font-size: larger;
    word-spacing: 20px;
    padding:30px;
}
#container{
    display:flex;
    flex:1;
    justify-content: space-between;
}
#links{
    display:flex;
    flex:1;
    justify-content: space-between;
    word-spacing: 4px;
    flex-direction: row;
    padding:50px;
    font-weight: bold;
}
#gee{
    padding-right: 4px;
}
#gee1{
    padding-right: 4px;
}
#gee2{
    padding-right: 4px;
}
#gee3{
    padding-right: 4px;
}


@media (width <=900px) {
    #brer{
        width:50%;
        height:100%;
    }
    
}
@media (width <= 500px) {
    #brer{
        width:70%;
        height:70%;
    }
    #links{
        padding:0;
    }
    
}


#kid{
    display:flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-between;
}
#he3{
    font-size: larger;
    display: flex;
    justify-content: space-around;
    position:static;
}
body{
    background:url("white.jpg");
    color:black;
}
a:link{
    color: blue;
}
a:active{
    color:red;
}
#brr{
    width:35%;
    vertical-align: top;
    background: transparent;
    
}
#cah{
    text-align: center;
    background:url(blue.jpg);
}
#tabb{
    font-size: 34px;
}
#intab{
    background: url(purp.jpg);
    font-size:30px;
}
#he1{
    text-align:center;
    color:white;
}
#bigg{
    display:flex;
    justify-self:left;
    text-align:left;

}
@media (width <= 500px) {

    #brr{
        width:100%;
        height:100%;
    }
    body{
        background-color: black;
    }
    #smart{
        background-color: black;
    }

    
}
#new{
    font-size: larger;
}
